################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/Logs/
/WebsiteCrawler.Console/bin/
/WebsiteCrawler.Console/obj/
/WebsiteCrawler.Helper/bin/
/WebsiteCrawler.Helper/obj/
/WebsiteCrawler.Logic/bin/
/WebsiteCrawler.Logic/obj/
/WebsiteCrawler.Model/bin/
/WebsiteCrawler.Model/obj/

/Tests/WebsiteCrawler.BenchmarkTests/bin/
/Tests/WebsiteCrawler.BenchmarkTests/obj/
/Tests/WebsiteCrawler.XUnitTests/bin/
/Tests/WebsiteCrawler.XUnitTests/obj/