################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebsiteCrawler/v16
/WebsiteCrawler.Console/bin/Debug/netcoreapp3.1/logs
