################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/WebsiteCrawler.Console/bin/
/WebsiteCrawler.Console/obj/
/WebsiteCrawler.Helper/bin/
/WebsiteCrawler.Helper/obj/
/WebsiteCrawler.Logic/bin/
/WebsiteCrawler.Logic/obj/
/WebsiteCrawler.Model/bin/
/WebsiteCrawler.Model/obj/
